.admin-panel{

    &__container{
        background-color: $color-white--2;
        height: 100vh;
    }
    &__section{
        margin-left: 25rem;
        
        @include respond(tab-port){
            margin-left: 0;
        }
    }

    &__navbar{
        display: grid;
        align-content: center;
        padding-bottom: .5rem;
        grid-auto-flow: column;
    }

    &__navbar-left{
        justify-self: start;
    }

    &__navbar-right{
        justify-self: end;
    }

}

