.admin-panel{
    &__header-section{
        border-bottom: 1px solid $color-grey-2;
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        position: relative;
        grid-template-columns: repeat(2,1fr);
        margin-top: 1rem;
        padding-bottom: 1rem;
    }

    &__container{
        background-color: $color-white--2;
        height: 100vh;
    }

    &__content{
        padding: 0 5rem;
        padding-top: 1rem;
    }

    &__section{
        margin-left: 25rem;
        
        @include respond(tab-port){
            margin-left: 0;
        }
    }

    &__navbar{
        display: grid;
        align-content: center;
        padding-bottom: .5rem;
        grid-auto-flow: column;
    }

    &__navbar-left{
        justify-self: start;
    }

    &__navbar-right{
        justify-self: end;
    }

}

// Inner shadow for table border
.shadow__container {
    width: 100%;
    height: 100%;
    position: relative;
}

#shadow_overlay_left{
    width: 10px;
    height: 100%;
    position: absolute;
    z-index: 5;
    box-shadow: inset 7px 0 5px -7px rgba($color-primary-dark,0.5);
  }
#shadow_overlay_bottom{
    width: 100%;
    min-height: 10px;
    position: absolute;
    bottom: 0%;
    z-index: 5;
    box-shadow: inset 0 -7px 5px -7px rgba($color-primary-dark,0.5);
  }
#shadow_overlay_top{
    width: 100%;
    min-height: 10px;
    position: absolute;
    top: 0%;
    z-index: 5;
    box-shadow: inset 0 7px 5px -7px rgba($color-primary-dark,0.5);
  }
#shadow_overlay_right{
    width: 10px;
    height: 100%;
    right: 0%;
    position: absolute;
    z-index: 5;
    box-shadow: inset -7px 0 5px -7px rgba($color-primary-dark,0.5);
  }


.delete__all{
    cursor: pointer;
    color: red;
}

.delete-btn{
    cursor: pointer;
    color: red;
}

.edit-btn{
    cursor: pointer;
    color: blue;
}

