.admin-panel{

    &__container{
        background-color: $color-white--2;
        
    }
    &__section{
        margin-left: 25rem;
        @include respond(tab-port){
            margin-left: 0;
        }
    }

}