.cert_form_lable{
    font-size: 1.6rem;
    
}

.cert-form{
    width: 50rem;
}

.generate_btn{
    background-color: $color-primary;
    color: $color-white--1;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.6rem;
}