.create-event{

    &__section{
        background-image: linear-gradient(to bottom, $color-white--3,$color-white--3);
        height: 100vh;
    }

    &__container{
        background-color: $color-white--3;
        padding-top: 5rem;
        padding-left: 7rem;

        @include respond(tab-port){
            padding-bottom: 5rem;
            padding-right: 7rem;
        }

        @include respond(phone){
            padding-left: 3rem;
            padding-right: 3rem;
        }
    }

   &__header{
       display: grid;
       grid-auto-flow: column;
       grid-template-columns: minmax(max-content,1fr) minmax(max-content,1fr) 1fr;
       justify-items: center;
       align-items: center;
       padding: 1rem 0;
       border-bottom: 1px solid $color-grey-2;
   }

    &__heading{
        background-image: linear-gradient(to bottom right, $color-primary,$color-primary-dark); 
        background-clip:text;
        -webkit-background-clip:text;
        color: transparent; 
    }

    &__header--btn{
        background-image: linear-gradient(to bottom right, $color-primary,$color-primary-dark);

        &:link,&:visited{
            color: $color-white--1;
            text-decoration: none;
            padding: .5rem 1rem;
            border-radius: 2px;
            text-align: center;
        }
    }

    &__input--group{
            margin-bottom: 2rem;
            // width: 60%;
            grid-column: 1/3;

            @include respond(tab-port){
                grid-column: unset;
                width: 100%;
            }
    }

    &__input{
        padding: 1.2rem 2.5rem;
        width: 100%;
        border:none;
        border-radius: .5rem;
        font-size: 1.5rem;
        border-bottom: 3px solid transparent;
        color: inherit;
        display: inline;
        transition: all .3s;
    
        &:focus{
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black-dark,.2);
            border-bottom: 3px solid $color-primary;
        }
    
        &:focus:invalid{
            border-bottom: 3px solid #e3301e;
        }
        
    }

    &__label{
        display: block;
        margin-left: 2.5rem;
        font-size: 1.4rem;
        transition: all .3s;
    }

    &__input:placeholder-shown ~ &__label{
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }
    &__input--month{
        padding: 1.2rem 2.5rem;
        width: 100%;
        border:none;
        border-radius: .5rem;
        font-size: 1.5rem;
        border-bottom: 3px solid transparent;
        display: inline;
        color: inherit;
        transition: all .3s;
        background-color: $color-white--1;
        &:focus{
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black-dark,.2);
        }
    }

    &__date--container{
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: repeat(3,1fr);
        width: 60%;
        grid-column-gap:1rem;
        margin-bottom: 2rem;
        @include respond(tab-port){
            width: 100%;
        }
    }

    &__btn{
        text-decoration: none;
        text-transform: uppercase;
        background-image: linear-gradient(to bottom right, $color-primary,$color-primary-dark);
        color: $color-white--1;
        padding: 1.5rem 4rem;
        display: inline-block;
        border: none;
        border-radius: .5rem;
        cursor: pointer;
        font-size: 1.4rem;
    }

    &__form--content{
        display: grid;
        grid-template-columns:repeat(4,1fr);
        grid-template-rows: repeat(5,1fr);
        @include respond(tab-port){
            grid-template-columns:unset;
            grid-template-rows: unset;
        }
    }

    &__form--image-container{
        grid-column: 3/-1;
        grid-row: 1/5;
        justify-self: center;
        align-self: center;
        overflow: auto;
        background-color: $color-white--1;

        @include respond(tab-port){
            grid-column: unset;
            grid-row:unset;
            margin-bottom: 2rem;
        }
        
    }

    &__form--image-preview{
        width: 30rem;
        height: 40rem;
        padding: 1rem;
        
    }
    &__form--image-upload{
        grid-column: 3/-1;
        grid-row: 1/5;
        justify-self: center;
        border: 1px dashed $color-grey-1;
        cursor: pointer;
        display: flex;
        flex-flow: column;
        justify-content: center;
        padding: 0 3rem;
        @include respond(tab-port){
            grid-column: unset;
            grid-row:unset;
            margin-bottom: 2rem;
        }
        p{
            display: inline-block;
            align-self: center;
            font-size: 1.4rem;
        }
    }

}



.add-event{ //add event button of event manage page
    background-image: linear-gradient(to bottom right, $color-primary,$color-primary-dark);
    justify-self: start;
    &:link,&:visited{
        color: $color-white--1;
        text-decoration: none;
        padding:1rem 2rem;
        border-radius: 20rem;
        font-size: 1.2rem;
        text-transform: uppercase;
        text-align: center;
    }
}

.chevron{
    font-size: 3rem;
    padding: 0;
    margin-bottom: -5px;
}
.create-event__date-input{
        padding: 1.2rem 2.5rem;
        width: 100%;
        border:none;
        border-radius: .5rem;
        font-size: 1.5rem;
        border-bottom: 3px solid transparent;
        color: inherit;
        display: inline;
        transition: all .3s;
        
        &:focus{
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black-dark,.2);
            border-bottom: 3px solid $color-primary;
        }
    
        &:focus:invalid{
            border-bottom: 3px solid #e3301e;
        }

}
.create-event__date-label{
    display: block;
    margin-left: 2.5rem;
    font-size: 1.4rem;
    transition: all .3s;
}

.image_btn--container{
    margin: 1rem 0;
}
%img-btn{
    border-radius: 50rem;
    border: 1px solid $color-primary;
    color: $color-primary;
    background-color: inherit;
    text-transform: uppercase;
    padding: .5rem 1rem;
    font-size: 1.2rem;
    margin-right: 1rem;
    cursor: pointer;
}

.btn{
    &__crop{
       @extend %img-btn
    }

    &__reset-image{
        @extend %img-btn
    }
}

.calender{
    width: 25rem;
    font-size: 1.4rem !important;
    border:none;
}


