.gallery{
    &__section{
<<<<<<< HEAD
        padding: 3rem;
=======
        padding: 3rem 0;
>>>>>>> develop
        background-color: $color-white--2;
    }
    &__container{
        display: grid;
        grid-row-gap: 2rem;
        grid-column-gap: 1rem;
        grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
    }

}


.photo{
    &__container{
        width: 20rem;
<<<<<<< HEAD
=======
        height: 20rem;
>>>>>>> develop
    }
}
.add{
 &__photo{
    background-image: linear-gradient(to bottom right, $color-primary,$color-primary-dark);
    &:link,&:visited{
        color: $color-white--1;
        text-decoration: none;
        padding:1rem 2rem;
        border-radius: 20rem;
        font-size: 1.2rem;
        text-transform: uppercase;
        text-align: center;
    }
}
}

.photo__main {
    width: 20rem;
    height: 20rem;
    overflow: hidden;
  }


.photo__delete {
color: white;
padding: 10px;
font-size: 1.5rem;
background-color: rgba(#e74c3c,0.8);
display: flex;
justify-content: center;
cursor: pointer;
transition: transform 400ms ease;
}

.photo__container:hover + .photo__delete,
.photo__delete:hover {
    transform: translateY(-100%);
}


// ADD PHOTO MODEL

.upload-photo{
    &__container{
        display: grid;
        justify-content: center;
        grid-gap: 2rem;
        // flex-direction: row;
    }
    &--btn{
        background-image: linear-gradient(to bottom right, $color-primary,$color-primary-dark);
        border: none;
        color: white;
        border-radius: 50rem;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
        font-size: 16px;

        &__container{
            display: flex;
            justify-content: center;
        }
    }
}

.file {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
  }

.file-input{
    margin-bottom: 1rem;
}
  
.file-label {
    display: block;
    width: 30rem;
    height: 6rem;
    border: 2px dashed $color-primary;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-primary;
    font-weight: bold;
    cursor: pointer;
    transition: transform .2s ease-out;
  }
  
.file-name {
    font-size: 1.4rem;
    color: #555;
  }
  
input:hover + label,
input:focus + label {
transform: scale(1.02);
}
  
  