.user{
    &__header-section{
        border-bottom: 1px solid $color-grey-2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    &__section{
        padding: 0 5rem;
        padding-top: 1rem;
    }

    &__heading{
        color: $color-primary;
        display: inline;
    }

    &__container{
        width: 100%;
        height: 100%;
        position: relative;
    }


    &__content{
        margin: 2rem 0;
        background-color: $color-white--1;
        padding: 2rem;
        height: 80vh;
        overflow: auto;
    }

}

// Inner shadow for table border
#shadow_overlay_left{
    width: 10px;
    height: 100%;
    position: absolute;
    z-index: 5;
    box-shadow: inset 7px 0 5px -7px rgba($color-primary-dark,0.5);
  }
#shadow_overlay_bottom{
    width: 100%;
    min-height: 10px;
    position: absolute;
    bottom: 0%;
    z-index: 5;
    box-shadow: inset 0 -7px 5px -7px rgba($color-primary-dark,0.5);
  }
#shadow_overlay_top{
    width: 100%;
    min-height: 10px;
    position: absolute;
    top: 0%;
    z-index: 5;
    box-shadow: inset 0 7px 5px -7px rgba($color-primary-dark,0.5);
  }
#shadow_overlay_right{
    width: 10px;
    height: 100%;
    right: 0%;
    position: absolute;
    z-index: 5;
    box-shadow: inset -7px 0 5px -7px rgba($color-primary-dark,0.5);
  }
  



.table{
    border-collapse: collapse;
    width: 100%;
    font-size: 1.6rem;
    background-color: $color-white--1;
    padding-top: 1rem;
    thead th {
        border-bottom: 1px solid $color-grey-2;
        text-align: start;
        text-transform: uppercase;
        padding: 1rem 0;
        padding-right: 3rem;
    } 
    tbody td{
        border-bottom: 1px solid $color-grey-2;
        padding: .5rem 0;
        padding-right: 3rem;
    }
    
}

.delete__all-user{
    cursor: pointer;
    color: red;
}

.delete-btn{
    cursor: pointer;
    color: red;
}

.edit-btn{
    cursor: pointer;
    color: blue;
}