/*

COLORS
primary-light: #a77ed7
primary: #6b35a9 
primary-dark: #422168

primary-light: #b26be6
primary: #9b3fdf
primary-dark: #5d188f

#a874f9 --- last priority 


Reference --- color
BACKGROUND 
// background-image: linear-gradient(to bottom ,rgba(147, 50, 158, 0.8), rgba(67, 10, 103, 0.8)),url(../../img/head--1.jpg);
// background-image: linear-gradient(to bottom ,#93329e, #440a67);

// background-image: linear-gradient(to bottom ,#6b35a9, #422168);
//background-image: linear-gradient(to bottom ,rgba(107, 53, 169, 0.808), rgba(66, 33, 104, 0.808)),url(../../img/head--1.jpg);

// background-image: linear-gradient(to bottom ,#9b3fdf, #5d188f);
// background-image: linear-gradient(to bottom ,rgba(156, 63, 223, 0.808), rgba(93, 24, 143, 0.808)),url(../../img/head--1.jpg);


*/


*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;  //10px/16px = 62.5%  -> 1rem = 10px

    @include respond(tab-land){ // width < 1200 ?
        font-size: 56.25%;  // 9px/16px = 56.25%  -> 1rem = 9px
    }

    @include respond(tab-port){
        font-size: 50%;  // -> 1rem = 8px
    }

    @include respond(phone){
        font-size: 43.75%;  // -> 1rem = 8px
    }

    @include respond(big-desktop){
        font-size: 70%;  // -> 1rem = 12px
    }

}

::selection {
    background-color: $color-primary-light;
    color: $color-white--1;
}
