body{
    font-family: 'Lato', sans-serif;
    color: $color-grey;
    font-weight: 400;
    line-height: 1.7;
}


.heading--1{
    font-size: 10rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1rem;

    @include respond(tab-land){
        font-size: 9rem;
    }

    @include respond(tab-port){
        font-size: 8rem;
    }

    @include respond(phone){
        font-size: 6rem;
    }
}

.heading--2{
    font-size: 6rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .5rem;

    @include respond(tab-port){
        font-size: 5rem;
    }

    @include respond(phone){
        font-size: 4rem;
    }

}

.heading--3{
    font-size: 5rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .5rem;

    @include respond(tab-port){
        font-size: 4rem;
    }

    @include respond(phone){
        font-size: 3rem;
    }

}

.heading--4{
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .2rem;
}

///H3 ELEMENT (HOME --> (about/sponsor)) 
.heading--container{
    display:grid;
    text-align: center;
    align-content:center ;
    justify-content: center;
    overflow: hidden;
}

///H3 ELEMENT (HOME-->(about/sponsor))
.section-heading{ 
    background-image:linear-gradient(to bottom right,rgba($color-primary, 0.808), rgba($color-primary-dark, 0.808));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    padding: 5rem 0;
    display: grid;
    transition: transform .5s;
    backface-visibility: hidden;
    line-height: 0;

    &:hover{
        transform: scale(1.05) skewY(-2deg);
    }

    &::after {  // bottom border
        content: " ";
        height: 2px;
        background-color: $color-primary;
        justify-self: stretch;
        margin-top: 30px;

        @include respond(tab-port){
            margin-top: 20px;
        }
    }

    @include respond(tab-port){
        padding: 3rem 0;
    }
}




.paragraph{
    text-align: justify;
    font-size: 1.6rem;
    &:not(:last-child){
        margin-bottom: 1rem;
    }

    @include respond(tab-land){
        font-size: 1.4rem;
    }

}