%modal-container {
    background-image: linear-gradient(to bottom right, $color-primary,$color-primary-dark); 
    display: grid;
    justify-content: center;
    align-content: center;
    border-radius: .5rem;
   
}

%modal-sub-container {
    background-color: $color-white--3;
    border-radius: .8rem;
    box-shadow: 0 1rem 4rem $color-black-dark;
    display: grid;
}

.modal{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 10px;
    background-color: rgba(#000, .8);
    z-index: 2000;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
    display: grid;
    justify-content: center;
    align-content: center;
    font-size: 10rem;
    padding: 5rem 0;

    &__content{
        font-size: 1.6rem;
        padding:3rem;
        
        @include respond(tab-port){
            margin: 2rem 0;
        }

        @include respond(phone){
            margin: 2rem 0;
        }
    }
    
    &__container{
        width: 50vw;
        padding: 4rem 0;
        @extend %modal-container;

        @include respond(tab-port) {
            width: 70vw;
        }

        @include respond(phone){
            width: 70vw;
            padding: 0;
        }

    }

    &__sub-container{
        @extend %modal-sub-container;
        width: 40vw;

        @include respond(tab-port) {
            width: 60vw;
        }
        
        @include respond(phone){
            width: 70vw;
        }
    } 
}

.modal__heading{
    background-image: linear-gradient(to bottom right, $color-primary,$color-primary-dark); 
    background-clip:text;
    -webkit-background-clip:text;
    color: transparent;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    border-bottom: 1px solid $color-grey-2;
}
.visible{
    opacity: 1;
    visibility: visible;
}
.hide{
    visibility: hidden;
}

//////////////////////
// Edit User Admin

.model__sub-container--edit-user{
    max-height: calc(100vh - 21px);
    overflow-y: auto;
}









