//ICON HIDE/VISIBLE PASSWORD
.eye__visible__svg{
    content: url(../img/SVG/eye_off.svg);
    position: absolute;
    margin-top: 12px;
    transform: translate(-120%,5%);
    fill: #e3301e;
    width: 20px;  
    height: 25px;
    @media only screen and (max-width: 820px) {
        transform: translate(-120%,-17%);
    }
}

.eye__invisible__svg{
    content: url(../img/SVG/eye_on.svg);
    position: absolute;
    margin-top: 12px;
    fill: #e3301e;
    transform: translate(-120%,5%);
    width: 20px;   
    height: 25px;
    @media only screen and (max-width: 820px) {
        transform: translate(-120%,-17%);
    }
}
