@import './abstract/functions';
@import './abstract/mixin';
@import './abstract/variables';


@import './base/animation';
@import './base/base';
@import './base/typography';
@import './base/utilities';


////////////////////////////////////////////////////////
//// USER

@import "./components/user/about";
@import './components/user/alert';
@import './components/user/eventcarousel';
@import  './components/user/sponsor';

@import './layout/user/footer';
@import './layout/user/header';
@import './layout/user/homenavigation';
@import './layout/user/modal';
@import './layout/user/navigation';

@import './pages/user/emailActivation';
@import './pages/user/eventRegistration';
@import './pages/user/eventDashboard'; 
@import './pages/user/eventNotice';
@import './pages/user/home';
@import './pages/user/profile';
@import './pages/user/resetPassword';
@import './pages/user/aboutus';
@import './pages/user/reactImageGallery';


////////////////////////////////////////////////////////
//// ADMIN

@import './components/admin/logout';
@import './components/admin/search';
@import './components/admin/datepicker';

@import './layout/admin/modal';
@import './layout/admin/sidebar';
@import './layout/admin/table';

@import './pages/admin/adminpanel';
@import './pages/admin/event';
@import './pages/admin/login';

