// COLOR
$color-primary : #6b35a9;
$color-primary-light: #9664cf;
$color-primary-dark: #422168;
$color-primary-dark-1:#32194f;

// $color-primary : #7b3ec2;
// $color-primary-light: #b08bdb;
// $color-primary-dark: #522982;
// $color-primary-dark-1:#4a2575;

// $color-primary : #a77fd6;
// $color-primary-light: #b998de;
// $color-primary-dark: #844bc6;
// $color-primary-dark-1:#5b2d8f;

// $color-primary : #e67e22;  /// Orange dark
// $color-primary-light: #eb9950;
// $color-primary-dark: #e45b00;
// $color-primary-dark-1:#d35400;

// $color-primary : #fd9644;   // Orange light
// $color-primary-light: #fda966;
// $color-primary-dark: #fa8231;
// $color-primary-dark-1:#fd8322;


// $color-primary : #95a6b8;    // blue grey
// $color-primary-light: #c8d1da;
// $color-primary-dark: #6d839c;
// $color-primary-dark-1:#506276;

// $color-primary : #637ae7;    // blue
// $color-primary-light: #8698ed;
// $color-primary-dark: #4672d9;
// $color-primary-dark-1:#2857c4;

$color-white--1: #fff;
$color-white--2: #f7f7f7;
$color-white--3: #eee;


$color-grey-1: #6f6f6f;
$color-grey-2: #bbb;
$color-grey: #666;

$color-black-light:#1a1a1a;
$color-black-dark: #000;

$color-green:#2abc68;


// alert
$color-alert-info:#54d98c;
$color-alert-error:#f22;


//msg
$color-err-msg:#e3301e;