.event_dashboard__main{
  width: 100%; 
}

.event_date_and_card_main{
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  border-top: 2px solid $color-grey-2;
}

.event_date_and_card_main__date{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 3.0rem;
  color: $color-grey;
  padding: 0 5rem;

  @include respond(phone){
    padding: unset;
  }
}

.event_date_and_card_main__cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


