.event-reg {
  &__section {
    margin: 0 5%;
    @include respond(tab-port) {
      margin: 0 1%;
    }
  }

  &__container {
    margin: 7rem 0;
    @include respond(tab-port) {
      margin: 5rem 0;
    }
  }

  &__content {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    width: 100%;
    // margin: 0 15rem;
    overflow: auto;
    background-color: $color-white--1;
    padding: 4rem;
    box-shadow: 0 1rem 3rem rgba($color-black-dark, 0.5);
    height: 100vh;
  }

  &__table {
    font-size: 1.6rem;
    width: 100%;
    border-collapse: collapse;

    thead th {
      border-bottom: 1px solid $color-grey-2;
      text-align: start;
      padding: 1rem 0;
      padding-right: 3rem;
    }

    tbody td {
      border-bottom: 1px solid $color-grey-2;
      padding: 0.5rem 0;
      padding-right: 3rem;
    }
  }
}

.event__reg_image__container {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  margin: 0 5%;
}

.image__container {
  margin: 0 9%;

  @media screen and (max-width: 650px) {
    margin: 0;
  }
}

/* Table Styles */

.table-wrapper {
  margin: 20px 0;
  box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
  max-height: 500px;
  overflow: scroll;
}

.fl-table {
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
}

.fl-table td,
.fl-table th {
  text-align: center;
  padding: 8px;
}

.fl-table td {
  border-right: 1px solid #f8f8f8;
  font-size: 12px;
}

.fl-table thead th {
  color: #ffffff;
  background: $color-primary-light;
}

.fl-table thead th:nth-child(odd) {
  color: #ffffff;
  background: $color-primary-dark;
}

.fl-table tr:nth-child(even) {
  background: #f8f8f8;
}

/* Responsive */

@media (max-width: 767px) {
  .fl-table {
    display: block;
    width: 100%;
  }
  .table-wrapper:before {
    content: "Scroll horizontally >";
    display: block;
    text-align: right;
    font-size: 11px;
    color: white;
    padding: 0 0 10px;
  }
  .fl-table thead,
  .fl-table tbody,
  .fl-table thead th {
    display: block;
  }
  .fl-table thead th:last-child {
    border-bottom: none;
  }
  .fl-table thead {
    float: left;
  }
  .fl-table tbody {
    width: auto;
    position: relative;
    overflow-x: auto;
  }
  .fl-table td,
  .fl-table th {
    padding: 20px 0.625em 0.625em 0.625em;
    height: 60px;
    vertical-align: middle;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    font-size: 13px;
    text-overflow: ellipsis;
  }
  .fl-table thead th {
    text-align: left;
    border-bottom: 1px solid #f7f7f9;
  }
  .fl-table tbody tr {
    display: table-cell;
  }
  .fl-table tbody tr:nth-child(odd) {
    background: none;
  }
  .fl-table tr:nth-child(even) {
    background: transparent;
  }
  .fl-table tr td:nth-child(odd) {
    background: #f8f8f8;
    border-right: 1px solid #e6e4e4;
  }
  .fl-table tr td:nth-child(even) {
    border-right: 1px solid #e6e4e4;
  }
  .fl-table tbody td {
    display: block;
    text-align: center;
  }
}


// Checkbox
.checkbox__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox__design{
    width: 2em;
    height: 2em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid black;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.checkbox__design:checked{
    background-color: $color-primary;
}

.event__registration_submit{
  background-color: $color-primary;
  color: white;
  padding: 10px;
  font-size: 2em;
  border-radius: 9px;
  cursor: pointer;
}

.event__registration_submit_div{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 20px 0;
}