// HOME --> ABOUT
.about{
    font-size: 1.6rem;
    padding: 10rem 0;
    background-color: $color-white--3;

    @include respond(tab-land){
        padding: 8rem 0;
    }
    
}

// HOME --> SPONSOR
.sponsors-container{
    background-image: linear-gradient(to bottom ,rgba($color-primary, 0.808), rgba($color-primary-dark, 0.808)), url(../../img/head--5.webp);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    padding: 10rem 5rem;  
    
    @include respond(tab-port){
        padding: 10rem 3rem;
    }

}



