.reset-password{
    &__container{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-white--2;
    }

    &__content{
        width: 50rem;
        border-radius: 2px;
        box-shadow: 0 .5rem 1rem rgba($color-black-dark,.5);
        background-color: $color-white--3;
    }

    &__form-content{
        padding: 2rem 4rem;
    }

    &__form-group:not(:last-child) {
            margin-bottom: 2rem;
        }
    

    &__input{
        padding: 1.5rem 2.5rem;
        width: 100%;
        border:none;
        border-radius: .5rem;
        font-size: 1.5rem;
        border-bottom: 3px solid transparent;
        color: inherit;
        display: inline;

        &:focus{
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black-dark,.2);
            border-bottom: 3px solid $color-primary;
        }

        &:required {
            box-shadow:none;
        }

        &:focus:invalid{
            outline: none;
            border-bottom: 3px solid #e3301e;
        }
    }

    &__input:placeholder-shown ~ .form__label{
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }

    
}

.reset-pass__btn{
    font-size: 1.5rem;
    text-transform: uppercase;
    border: 2px solid $color-primary;
    width: 100%;
    padding: 2rem;
    color: $color-primary-dark;
    border-radius: 4rem;
    cursor: pointer;
    &:focus{
        outline: none;
    }

    &:hover{
        background-color: $color-primary;
        color: $color-white--1;
    }
}