//Home page about us section
%event-grid{ 
    display: grid;
    grid-column-gap:10rem;
    justify-content: center;
    padding: 5rem 10rem;

}

.about{
    &__rhythm{ // OUTER MOST DIV ELEMENT
        @extend %event-grid;
        grid-template-columns: 40rem 1fr;
        
        @include respond(odd-device){
            grid-template-columns:none;
            grid-column-gap:unset;
            grid-row-gap:6rem;
            padding-top: 3rem;
            justify-content: center;
        }
  
    }

    &__ieee{ // OUTER MOST DIV ELEMENT
        grid-template-columns: 1fr 40rem;
        @extend %event-grid;
        @include respond(odd-device){
            grid-template-columns:none;
            grid-column-gap:unset;
            grid-row-gap:6rem;
            padding-top: 3rem;
            justify-content: center;
        }
    
    }
}

.photo-container{
    width: 40rem;
    justify-self: center;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 1rem 4rem $color-black-dark;
    opacity: 0;
    transition: transform 3s;

    &:hover{
        transform: scale(1.05);
    }

}

.photo{
    width: 100%;   
    height: 100%;
}

.rhythm__content{
    align-self: center;
}

.ieee_content{
    align-self: center;
    @include respond(odd-device){
        grid-row: 2/3;
    }
    
}

.rhythm-photo {
    opacity: 1;
    animation-name: leftright;
    animation-duration: 1.5s;
    transition-timing-function: cubic-bezier(0,1.79,1,-0.61);
    backface-visibility: hidden;
}  

.ieee-photo{
    opacity: 1;
    animation-name: rightleft;
    animation-duration: 1.5s;
    transition-timing-function: cubic-bezier(0,1.79,1,-0.61);
    backface-visibility: hidden;
}

