.image{
    &__container{
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    &__content{
        height: 60vh;

        @media screen and (max-width: 600px){
            height: 35vh;
        }

        width: 100%;
        overflow: hidden;
        color: $color-white--1;
        position: relative;
    }

    &__content1{
        grid-row: 1/1;
        grid-column: 1/1;
        animation: slide1 12s linear infinite;
    }
    &__content2{
        grid-row: 1/1;
        grid-column: 1/1;
        animation: slide2 12s linear infinite;
    }
    &__content3{
        grid-row: 1/1;
        grid-column: 1/1;
        animation: slide3 12s linear infinite;
    }
    &__content4{
        grid-row: 1/1;
        grid-column: 1/1;
        animation: slide4 12s linear infinite;
    }
}

.event-img{
    width: 120%;
    height: 120%;
    animation: zoom-out 3s linear infinite;
}

.image-shade{
    position:absolute;
    background-color: rgba($color-black-dark,0.4);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@keyframes zoom-out {
    100%{
        width: 100%;
        height: 100%;
    }
}

@keyframes slide1 {
    0%{
        visibility: visible;
    }
    
    25%{
        visibility: visible;
    }

    50%{
        visibility: hidden;
    }
    
    75%{
        visibility: hidden;
    }
    100%{
        visibility: hidden;
    }
}

@keyframes slide2 {
    0%{
        visibility: hidden;
    }
    
    25%{
        visibility: hidden;
    }

    50%{
        visibility: visible;
    }
    
    75%{
        visibility: hidden;
    }
    100%{
        visibility: hidden;
    }
}
@keyframes slide3 {
    0%{
        visibility: hidden;
    }
    
    25%{
        visibility: hidden;
    }

    50%{
        visibility: hidden;
    }
    
    75%{
        visibility: visible;
    }
    100%{
        visibility: hidden;
    }
}

@keyframes slide4 {
    0%{
        visibility: hidden;
    }
    
    25%{
        visibility: hidden;
    }

    50%{
        visibility: hidden; 
    }
    
    75%{
        visibility: hidden;
    }
    100%{
        visibility: visible;
    }
}

