%image-container{
    clip-path: circle(50% at 50% 50%);
    display: flex;
    overflow: hidden;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform: scale(0);
    
    
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    overflow: hidden;

    &__content {
        height: 100%;
        width: 100%;
        object-fit: cover;
        overflow: hidden
    }
}

.sponsors--box{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,30rem);
    grid-row-gap:5rem;
    justify-items: center;
    align-items: center;

    @include respond(odd-device){
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,30rem);
        
    }
    @include respond(phone){
        grid-row-gap:0;
    }
}

.sponsor{
    @extend %image-container;

    &__img--1{
        width: 23rem;
        position:relative;
        z-index:1;
        
    }
    &__img--2{
        width: 23rem;
        
    }
    &__img--3{
        width: 23rem;
        
    }

    &__img--4{
        width: 23rem;
        
    }

    &__img--5{
        width: 23rem;
        
    }
    &__img--6{
        width: 23rem;
        
    }

    & > * { // APPLY STYLE OF ALL CHILD ELEMENT
            @include respond(tab-land){
                width: 25rem;
            }

            @include respond(phone){
                width: 25rem;
            }

            @media only screen and (max-width:420px) {
                width: 20rem;
            }
    }

}
// APPLY ANIMATION
.sponsor-visible{
    animation-name: visible;
    animation-duration: 2s;
    transform: scale(1);
    transition: transform .5s;
    &:hover{
        transform: scale(0.9);
    }
}

.sponser-header{
    color: white;
    &::after {  // bottom border
        content: " ";
        height: 2px;
        background-color: white;
        justify-self: stretch;
        margin-top: 30px;

        @include respond(tab-port){
            margin-top: 20px;
        }
    }
}


