.horizontal-nav {

    &__container{
        position: fixed;
        width: 100vw;
        min-height: 6rem;
        background-color: $color-primary-dark;
        color: $color-white--1;
        display: flex;
        align-items: center;
        justify-content: space-around;
        top: 0;
        z-index: 200;
    }

    &__left{
        // margin-left: -2rem;
    }

    &__right{
        margin-right: -8rem;
        @include respond(tab-port){
            background-color: $color-primary-dark;
            position: absolute;
            top:5.8rem;
            // min-height: 8rem;
            right: 8rem;
            height:92vh;
            width: 50%;
            display: grid;
            align-items: center;
            transform: translateX(100%);
            transition: all .5s;
        }
    }

    &__items{
        display: flex;
        @include respond(tab-port){
            display: grid;
            row-gap: 2rem;
        }
    }

    &__item{
        &:not(:last-child){
            margin-right: 2rem;
        }
        list-style: none;
        transition: all .2s;
        &:hover{
            background-color: $color-primary;
        }

        @include respond(tab-port){
            &:not(:last-child){
                margin-right: 0rem;
            }
        }
        
    }


    &__link{
        display: inline-block;
        text-decoration: none;
        font-size: 1.6rem;
        text-transform: uppercase;
        color: inherit;
        padding: 2rem .8rem;
        letter-spacing: 1.5px;
        
        @include respond(tab-port){
            display: flex;
            justify-content: center;
            font-size: 2rem;
        }
    }

    &--sub-menu{
        display: none; 
        text-transform: uppercase;
        &__item{
            display: inline-block;
            width: 100%;
            font-size: 1.6rem;
            text-decoration: none;
            color: $color-white--1;
            padding: 1rem 2rem;
            @include respond(tab-port){
                font-size: 2rem;
            }
            &:hover{
                background-color: $color-primary;
            }
    }
    }

    
}

.active__item{
    background-color: $color-primary;
}

.right-menu__visible{
    transform: translateX(0%);
}

.event-sub-menu__visible{
        display: block;
        position: absolute;
        background-color: $color-primary-dark;
        margin-left: 1.5rem;
        list-style: none;
        @include respond(tab-port){
            display: grid;
            margin-left: -24.5rem;
            margin-top: -2rem;
        }
    
       
}

.account-sub-menu__visible{
    display: block;
    position: absolute;
    background-color: $color-primary-dark;
    margin-left: 1.5rem;
    list-style: none;
    @include respond(tab-port){
        display: grid;
        margin-left: -10.5rem;
        margin-top: -2rem;
    }

   
}

.burger{
    display: none;
    cursor: pointer;
    &__lines{
        width: 3rem;
        height: 2px;
        background-color: $color-white--1;
        &:not(:last-child){
            margin-bottom: .5rem;
        }
    }
    
    @include respond(tab-port){
        display: block;
    }

}


//////////////////////////////////////////
//////Main section after horizontal navigation

.after-navigation{
    // padding-top: 6.4rem;
    top: 6rem;
    position: absolute;
    background-color: $color-white--2;
    // height: 100vh;  // remove this line after styling pages
    @include respond(phone){
        top: 7rem;
    }
}

